@model PostModel

@{
    var lostTypePosts = (List<PostModel>)ViewData["LostTypePosts"];
    var foundTypePosts = (List<PostModel>)ViewData["FoundTypePosts"];    
}

<div class="chapter-title">
    <h1>Объявления о потерянных животных</h1>
</div>


<div class="tabs">
    <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
    <label for="tab-btn-1">Потерянные</label>
    <input type="radio" name="tab-btn" id="tab-btn-2" value="">
    <label for="tab-btn-2">Найденные</label>
    <div id="content-1" class="tab-content">
        @foreach (var post in lostTypePosts)
        {
            <div class="declaration">
                @*string pathToImage = $"./wwwroot/Repo/Posts/{post.Id}";*@
                @{
                    DirectoryInfo pathToImage = new DirectoryInfo($"./wwwroot/Repo/Posts/{post.Id}");
                    var postImage = pathToImage.GetFiles().FirstOrDefault().Name;
                    var pathFile = $"{post.Id}/{postImage}";
                }
                

                <div>
                    <a class="text-info">@post.Created</a>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                    {
                        <form asp-controller="Post" asp-action="DeletePostFromBoard" asp-route-id="@post.Id" method="post" name="DeletePost">
                            <button type="submit" class="btn btn-sm btn-danger">
                                Удалить
                            </button>
                        </form>
                    }
                </div>
                <div class="pet-photo">
                    <img src="./Repo/Posts/@pathFile" class="image-pet" alt="photo">
                </div>
                <div class="params">
                    <a class="description">@post.Description</a>
                </div>
            </div>            
        }        
    </div>
    <div id="content-2" class="tab-content">
        
        @foreach (var post in foundTypePosts)
        {
            DirectoryInfo pathToImage = new DirectoryInfo($"./wwwroot/Repo/Posts/{post.Id}");
            var postImage = pathToImage.GetFiles().FirstOrDefault().Name;
            var pathFile = $"{post.Id}/{postImage}";
            <div class="declaration">
                <div>
                    <a class="text-info">@post.Created</a>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                    {
                        <form asp-controller="Post" asp-action="DeletePostFromBoard" asp-route-id="@post.Id" method="post" name="DeletePost">
                            <button type="submit" class="btn btn-sm btn-danger">
                                Удалить
                            </button>
                        </form>
                    }
                </div>
                <div class="pet-photo">
                    <img src="./Repo/Posts/@pathFile" class="image-pet" alt="photo">
                </div>
                <div class="params">
                    <a class="description">@post.Description</a>
                </div>
            </div>
            

            
        }
    </div>
</div>
