@model PostModel

@{
    var posts = (List<PostModel>)ViewData["UserPosts"];

}

<div class="chapter-title">
    <h1>Посты пользователя</h1>
</div>



<div>

        @foreach (var post in posts)
        {
            DirectoryInfo pathToImage = new DirectoryInfo($"wwwroot/Repo/Posts/{post.Id}");

        <div class="declaration">
            <div class="deleting-item">
                <div class="header-content">
                    <a>@post.Created.ToString("dd.MM.yyyy")</a>
                    <form asp-controller="Post" asp-action="DeletePost" asp-route-id="@post.Id" method="post" name="DeletePost">
                        <input type="hidden" asp-for="Id" value=@post.Id />
                        <input class="input-logon-logof" type="submit" value="Удалить" />
                    </form>
                </div>                
            </div>

            <div class="pet-photo">
                <img src='@Url.Content($"~/Repo/Posts/{post.Id}/{pathToImage.GetFiles().FirstOrDefault().Name}")' class="image-pet" alt="photo">
            </div>
            <div class="params">
                <div>
                    <a class="description">@post.Type</a>
                </div>
                <div>
                    <a class="description">@post.Description</a>
                </div>
            </div>                      
        </div>
        }
    
    
</div>