@model UserModel

@{
    var userList = (List<UserModel>)ViewData["AllUsersList"];
}


<div class="chapter-title">
    <h1>Список пользователей</h1>
</div>


<table>

    @foreach (var user in userList)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>
                <form asp-controller="User" asp-action="DeleteUser" asp-route-id="@user.Id" method="post" name="DeleteUser">
                    <input type="hidden" asp-for="Id" value=@user.Id />
                    <div>
                        <input class="input-logon-logof" type="submit" value="Удалить" />
                    </div>
                </form>
            </td>
        </tr>
    }
</table>

@*<div>
    
    @foreach (var post in userList)
    {
        <div>
            <table>
                <tr>
                    <th>Company</th>
                    <th>Contact</th>
                    <th>Country</th>
                </tr>
                <tr>
                    <td>Alfreds Futterkiste</td>
                    <td>Maria Anders</td>
                    <td>Germany</td>
                </tr>
                <tr>
                    <td>Centro comercial Moctezuma</td>
                    <td>Francisco Chang</td>
                    <td>Mexico</td>
                </tr>
            </table>
            <form asp-controller="Post" asp-action="DeletePost" asp-route-id="@post.Id" method="post" name="DeletePost">
                <button type="submit" class="btn btn-sm btn-danger">
                    Удалить
                </button>
            </form>
        </div>
    }
</div>*@