<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 @*   <title>@ViewData["Title"] - AnimalRescue</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AnimalRescue.styles.css" asp-append-version="true" />*@
    <link type="text/css" rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
        <div class="head-back">
            <div classe="header-content">
                <div class="logo">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><img class="graficlogo" src="/img/logo.png" alt="lgo"></a>
                    
                    @if (User.Identity.IsAuthenticated) 
                    {
                        <div class="buttons-logon-logoff">
                            <input class="input-logon-logof" type="button" value="ВЫХОД" onclick="location.href='@Url.Action("LogOff", "Auth")'" />
                        </div>                        
                    }
                    else
                    {
                        <div class="buttons-logon-logoff">
                            <div>
                                <input class="input-logon-logof" type="button" value="Вход" onclick="location.href='@Url.Action("Index", "User")'" />
                            </div>
                            <div>
                                <input class="input-logon-logof" type="button" value="Регистрация" onclick="location.href='@Url.Action("Register", "Auth")'" />
                            </div>
                        </div>
                    }
                    
                </div>
            </div>
            <nav>
                <div class="topnav">
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">ГЛАВНАЯ</a>
                    <a class="nav-link text-dark" asp-controller="Post" asp-action="AddPost">РАЗМЕСТИТЬ ОБЪЯВЛЕНИЕ</a>
                    <a class="nav-link text-dark" asp-controller="Shelter" asp-action="Index">ПРИЮТЫ</a>
                </div>
            </nav>

            @if (User.Identity.IsAuthenticated)
            {
                <nav class="small-nav">
                    <div class="topnav-small-nav">
                        @if (User.IsInRole("admin"))
                        {
                            <a asp-controller="Admin" asp-action="Index">ПРОФИЛЬ</a>
                            <a class="nav-link text-dark" asp-controller="Shelter" asp-action="AddShelter">ДОБАВИТЬ ПРИЮТ</a>
                            <a class="nav-link text-dark" asp-controller="Post" asp-action="DisplayUserPosts">МОИ ОБЪЯВЛЕНИЯ</a>
                            <a class="nav-link text-dark" asp-controller="User" asp-action="DisplayUsers">СПИСОК ПОЛЬЗОВАТЕЛЕЙ</a>
                        }
                        else if (User.IsInRole("user"))
                        {
                            <a asp-controller="User" asp-action="Index">МОЙ ПРОФИЛЬ</a>
                            <a class="nav-link text-dark" asp-controller="Post" asp-action="DisplayUserPosts">МОИ ОБЪЯВЛЕНИЯ</a>
                            <a class="nav-link text-dark" asp-controller="Favorites" asp-action="DisplayFavorites">ИЗБРАННОЕ</a>
                        }
                    </div>
                </nav>
            }
            
        </div>
    </header>
    @*<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AnimalRescue</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>
    </ul>
    </div>
    </div>
    </nav>
    </header>*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="info">
        <footer>
            <a class="info-text">&#9993 info@mail.inf<br>&#128383 +1-111-11-11-111<br>&#128383 +2-222-22-22-222</a>
        </footer>
    </div>
    @*    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)*@
</body>
</html>
