@model AnimalModel

<div class="chapter-title">
    <h1>Добавить новое животное в приют</h1>
</div>



<div class="user-profile">
    <div class="profile-content">
        <form asp-controller="Animal" asp-action="AddPet" method="post" name="AddPet" enctype="multipart/form-data">
            <div class="mb-3">
                @Html.LabelFor(x=>x.Type, "Загрузите фото")<br />
                <input type="file" name="file" class="file-upload" />
            </div>
            <div>
                @Html.LabelFor(x=>x.Type, "Тип животного")<br />
                <input asp-for="Type" class="profile-item" />
            </div>
            <div>
                @Html.LabelFor(x=>x.Type, "Имя")<br />
                <input asp-for="Name" class="profile-item" />
            </div>
            <div>
                @Html.LabelFor(x=>x.Type, "Пол")<br />
                <input asp-for="Gender" class="profile-item" />
            </div>
            <div>
                @Html.LabelFor(x=>x.Type, "Возраст")<br />
                <input type="number" asp-for="Age" class="profile-item" />
            </div>
            <div>
                @Html.LabelFor(x=>x.Type, "Описание")<br />
                <textarea asp-for="Description"></textarea>
            </div>
            <div>
                <input type="hidden" asp-for="ShelterId" value=@ViewData["ShelterId"] />
                <input class="input-logon-logof" type="submit" value="Добавить" />
            </div>
        </form>
    </div>
</div>